@use '@angular/material' as mat;
@import "@angular/material/prebuilt-themes/azure-blue.css";

// Включаем базовые стили
@include mat.core();

// Определяем свою цветовую палитру (Material 3)
$my-theme: mat.define-theme((color: (theme-type: light, // или dark
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: (brand-family: 'Roboto, sans-serif',
        bold-weight: 700)));

html,
body {
  height: 100%;
  margin: 0;
}

// Применяем тему ко всем компонентам
html {
  @include mat.all-component-themes($my-theme);
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // Используем системную переменную фона из Material 3
  background-color: var(--mat-sys-surface);
  background-color: #f5f5f5;
  color: var(--mat-sys-on-surface);
}

// Корневой тег приложения
app-root {
  display: block;
  height: 100%;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}